<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/app/styles/styles.css">
    <!-- endinject -->
</head>
<!-- Put ng-controller in body tag -->

<body ng-controller="MainController">
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <!--HEADER -->
    <header>
        <h1>Very Simple To Do List</h1>
    </header>
    <!-- Create Container for inputs and Table -->
    <div class="container">
        <!-- create input form with input, selector, and button -->
        <div class="col-xs-4 inputPanel">
            <div class="panel panel-info">
                <div class="panel-heading">Add To Do Item</div>
                <div class="panel-body">
                    <label for="todo item ">Add to List</label>
                    <input ng-model="text " id="todosInput" name="todo item " type="text" placeholder="e.g. Get milk " class="form-control input-md">
                    <label class="control-label " for="selectbasic">Priority</label>
                    <select id="selectbasic" name="selectbasic " class="form-control input-md " ng-model="priority ">
                        <option value="aHigh">High</option>
                        <option value="bMedium">Medium</option>
                        <option value="cLow">Low</option>
                    </select>
                </div>
                <div class="panel-footer ">
                    <button class="btn btn-success btn-md " ng-click="addTodo(todoName, todoPriority)">Add To Do Item</button>
                </div>
            </div>
        </div>
        <!-- create set of 3 inline buttons for sorting/bootstrap  -->
        <!-- Form Name -->
        <form ng-submit="addTodo()"></form>
        <div class="col-xs-8 sortButtons">
            <label for="OrderBy">Order By</label>
            <div class="input-group-btn">
                <button type="button " class="btn btn-primary col-xs-4" ng-click="sortBy='priority' ">Highest Priority</button>
                <button type="button " class="btn btn-primary col-xs-4" ng-click="sortBy = '-priority' ">Lowest Priority</button>
                <button type="button " class="btn btn-primary col-xs-4" ng-click="sortBy = 'text'; reverse = !reverse">Alphabetically</button>
            </div>
            <div>
                <table class="table">
                    <thead>
                        <!-- ng-onclick event and filters -->
                        <th class="col-xs-9">List Item</th>
                        <th class="col-xs-1">Delete</th>
                        <thead>
                            <tbody>
                                <tr ng-repeat="todo in todos | orderBy : sortBy : reverse" class="{{todo.priority}}">
                                    <td>{{todo.text}}</td>
                                    <!-- <td>{{todo.priority}}</td>
 -->
                                    <td><a href="" ng-click="deleteTodo()">delete</a></td>
                                </tr>
                                <tr ng-repeat="new in todo | OrderBy = 'text'"></tr>
                                <td>{{new.text}}</td>
                            </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- inject:js -->
    <script src="/app/app.js"></script>
    <!-- endinject -->
</body>

</html>
